- var bg = locals.thumb ? locals.thumb.sizes.large : "";
.row.event-listing
  .col-md-12
    a.event-thumb(data-bg=bg,href=locals.url)
      span.month!=locals.start_month
      span.date!=locals.start_day
      if locals.start_time
        span.time!=locals.start_time
      if locals.event_time_zone
        span.timezone!=" ("+locals.event_time_zone+")"
    .event-info
      h3
        a(href=locals.url)!=locals.title
      p!=locals.excerpt
        a(href=locals.url)  read more
      a.button(href=locals.btn_url)!=btn_text
      .buttons
        if locals.webinar_recording_link
          a.button(href=locals.webinar_recording_link) Full Recording
        if locals.webinar_highlights_link
          a.button(href=locals.webinar_highlights_link) Highlights