extends inc/page.pug
block template
  :php
    /*
    Template Name: Case Study Page - Youtube Only
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"What Is Dynamic Signal?",
      "link"=>"/product/"
    ));
    array_push($breadcrumbs,array(
      "title"=>"Case Studies",
      "link"=>"/case-studies/"
    ));
    $override_title = "Keeping Employees Informed in a Moment of Crisis";
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 Keeping Employees Informed in a Moment of Crisis
  section#case-study-page.case-study-image
    img(src=themeDir+"/images/youtube-case-study-header.jpg")
  section
    .container
      .row
        .col-md-12
            p The first report that something horrific was happening came at 12:47 p.m. on April 3. A Dynamic Signal employee sent a message on one of the company's office Slack feeds.
  section
    .container
      .row
        .col-md-12
            img(src=themeDir+"/images/youtube-case-study-alert.jpg")
  section
    .container
      .row
        .col-md-12
            p That warning marked the start of a chilling incident where Dynamic Signal's two main offices went into lockdown. That afternoon, a woman entered the nearby YouTube campus and opened fire with a handgun, leaving three employees wounded before the assailant took her own life.
            p As police swarmed the area and media helicopters broadcasted the surreal scene live across the country, the approximately 200 employees at the Dynamic Signal offices knew little beyond the fact that there were reports of shootings within a short walking distance.
            p During this scary and fluid situation, information was spreading internally across email and Slack as well as externally with social media. Dynamic Signal was able to calm and inform its staff by sending a number of crisp, clear broadcasts only to San Bruno employees using our Employee Communication and Engagement Platform.
            p "When the safety of our people is on the line, an accurate message is critical," said Katie Rubak, the Community and Social Media Manager at Dynamic Signal.
  section(data-bg="youtube-case-study-quote-bg.jpg")
    .container
      .row
        .col-md-12
            .pull-quote "We were able to cut through all the noise and deliver verified, trusted messages to our employees' phones providing guidance and support."
                cite Katie Rubak, Community and Social Media Manager at Dynamic Signal
  section
    .container
      .row
        .col-md-12
            p Dynamic Signal's headquarters is located in San Bruno, about 10 miles south of San Francisco. That afternoon, a normally quiet office park that houses Silicon Valley companies suddenly buzzed with commotion.
            p "You're never prepared for something like this," said Adonis Garefalakis, the Director of Human Resources. "But the most important thing is to find out as much as you can and then communicate it in a direct way to calm our employees."
            p Dynamic Signal's Traeger office, which is nearest to YouTube's buildings, immediately was put on lockdown. As employees at both offices began sharing on Slack what they were seeing on social media, Rubak knew she needed to alert employees with only the facts that were known.
            p She sent out a broadcast on Dispatch, which is Dynamic Signal's own instance of our Employee Communication and Engagement Platform, telling employees about the police activity at YouTube. Although there was no immediate danger, employees needed to stay inside their buildings until the situation was resolved.
            p "That first message had to be clear because there was so much on Slack with people jumping in with unverified information," Rubak explained. "It was all hearsay. We were careful how we worded that first message about no immediate danger. To us, immediate danger would have meant there was a shooter in one of our buildings. We needed to strike the right tone."
            p In fact, no one else was in peril. But that wasn't clear at that moment, CNN was televising a scene where SWAT teams were entering YouTube buildings and frightened employees were being escorted outside. Speculation was being shared on social media.
            p That's why, with so much conflicting information, the decision was made not to send a broadcast about an "active shooter," Rubak said. The concern was it could create unwarranted panic.
  section
    .container
        .row.partners-testimonial-entry
        .col-md-12
            img.testimonial-thumb(src=themeDir+"/images/photo-an.png",alt="An Le, COO")
            .testimonial-body "It was very important to have a single, reliable channel of information. Our people knew they could turn to one trusted source and not be looking elsewhere to find information that may or may not be accurate. It made a big, big difference in keeping our employees informed and safe."
            cite.testimonial-speaker
            span.name An Le - 
            span.title Chief Operations Officer
  section
    .container
      .row
        .col-md-12
            p Rubak did send a follow-up broadcast at 2 p.m. when building management announced it had locked the entrances to the Bayhill office location as a precaution.
            p "In a crisis situation, it's extremely important to share only what we can verify," Rubak explained. "We didn't want to share information that might later prove to be inaccurate."
            p Rubak sent the broadcasts only to employees based in San Bruno, who were being directly impacted by the incident. If the company had needed to confirm the safety of every employee, she could have sent a broadcast that required an acknowledgment.
            p Fortunately, it didn't come to that. When authorities announced that the crisis had been resolved, Rubak sent a final broadcast at 2:46 p.m. that almost sounded like a sigh of relief:
            p "We're all ok."
  section
    .container
      .row
        .col-md-12
            img(src=themeDir+"/images/youtube-case-study-newspaper.jpg")
  section
    .container
        .row
            .col-md-12.youtube-case-study-timeline
                h2 Timeline of Events
                ul
                    li 12:46 p.m. San Bruno police received first 911 calls from people at YouTube reporting gunshots
                    li 12:48 p.m. Police arrive and start searching the building
                    li 12:57 p.m. Word begins to get out at YouTube as employees begin to tweet about incident
                    li 1:01 p.m. San Bruno police post a tweet warning of "activity" around YouTube HQ
                    li 1:10 p.m. YouTube employee tweets that the shooter had shot herself
                    li 1:28 p.m. San Bruno police tweet again, this time acknowledging an "active shooter" situation
                    li 1:30 p.m. Google acknowledges shooting in a tweet
                    li 2:18 p.m. YouTube employee's Twitter account is hacked and misinformation is spread
                    li 2:25 p.m. Local news reports shooter is dead
                    li 2:37 p.m. Police confirm four gunshot wounds, later revised to three
  section
    .container
      .row
        .col-md-12
            p In a harrowing situation like this, it's hard for employees to know what's actually happening, Rubak said. But when an organization has one, top-down communication channel, everyone receives accurate information.
            p "Dispatch proved to be a great tool for emergency communication," Garefalakis added. "That's much different than Slack, which caused uncontrolled spreading of information and tension. That was very important in how we communicated useful information and contained the spread of unverified news and panic."
  section
    .container
      .row
        .col-md-12
            img.right(src=themeDir+"/images/youtube-case-study-iphone.png")
            h1 Posts on Dynamic Signal's Dispatch Platform
            h2.blue First post sent at 12:58 p.m. to both Dynamic Signal offices at San Bruno HQ:
            .dispatch-quote 
                p All team members at Traeger and Bayhill, please stay inside. There is police activity going on at the Youtube campus (corner of Bayhill and Cherry). Please stay inside until further notice. There is no immediate danger, but please stay in your building until the situation has been resolved.    
            h2.blue Second post sent at 2 p.m. only to Bayhill office:
            .dispatch-quote 
                p The Bayhill building entrances were locked down as a further precaution. Should you decide to leave the Bayhill Office Center campus, we recommend exiting towards El Camino Real, and stay away from Cherry Avenue and Bayhill Drive. Do not approach the cordoned area.
                p At this time there are no further updates on the emergency situation in San Bruno. We'll keep you informed as we receive updates from building management
            h2.blue Third post sent at 2:46 p.m. to both offices:
            .dispatch-quote 
                p We're all ok.
                p Hi Team, both the Bayhill and Traeger offices have been cleared by the authorities and team members are free to leave the building. Anyone who would prefer to work from home this afternoon, please feel free to do so. If you are planning to leave, all traffic needs to head towards El Camino, away from Cherry Ave, towards 101. Thanks to the remote offices that expressed their concern, we're all ok.
      .row
        .col-md-12
            h1 Lessons Learned
            p
                strong Katie Rubak shared some thoughts about crisis communication in the wake of this incident.
            ul.case-study-list.solution
                li
                    svg#bullet-5.checkmark.active(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
                        circle.checkmark-circle(cx='26', cy='26', r='25', fill='none')
                        path.checkmark-check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
                    span "Only send out verified information that is actionable for your employees. The official news channel of our company is not the place to be speculating or sharing information we can't verify."
                li
                    svg#bullet-5.checkmark.active(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
                        circle.checkmark-circle(cx='26', cy='26', r='25', fill='none')
                        path.checkmark-check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
                    span "It's important to have one person in charge of the communication. There can be a problem if you have too many cooks in the kitchen. There was a small group of people who were helping me get our messages crafted. But there has to be a gatekeeper."
                li
                    svg#bullet-5.checkmark.active(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 52 52')
                        circle.checkmark-circle(cx='26', cy='26', r='25', fill='none')
                        path.checkmark-check(fill='none', d='M14.1 27.2l7.1 7.2 16.7-16.8')
                    span "In hindsight, I might have sent a broadcast reminding people that they shouldn't be fueling speculation. Everyone needs to think carefully about what they're publishing on their personal channels so it doesn't add to any sense of panic."