extends inc/page.pug
block template
  :php
    /*
    Template Name: Product Features Page V2
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $override_title = "Features";
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Platform",
      "link"=>"/product/"
    ));         
  - 
    var pageData = { 
        "features" : [
            {
            "title":"Content Personalization",
            "icon":"fa-crosshairs"
            },
            {
            "title":"Broadcasting",
            "icon":"fa-bullhorn"
            },
            {
            "title":"Social Sharing",
            "icon":"fa-share"
            },
            {
            "title":"Reporting",
            "icon":"fa-pie-chart"
            },
            {
            "title":"Video",
            "icon":"fa-play"
            },
            {
            "title":"Newsletters",
            "icon":"fa-envelope-open-o"
            },
            {
            "title":"Surveys",
            "icon":"fa-check-square-o"
            },
            {
            "title":"SmartContent",
            "icon":"fa-sliders"
            },
            {
            "title":"Permissions",
            "icon":"fa-lock"
            },
            {
            "title":"Integrations",
            "icon":"fa-cogs"
            }
        ]
        };
  :php
    printf("<section class='halfpic' id='sticky-header'>");
    printf("<div class='halfpic-bg' data-bg-array='%s'></div>",json_encode(get_field("header_bg"), JSON_UNESCAPED_SLASHES));
  .white-gradient-header
  .container
      .row-flex
          .col-half-flex.gray-bg-section
              .inner
                h1 Features
  :php
    echo "</section>";
  section.white-bg-section
    .container
        .row
            .col-md-12.centered
                p 
                    :php
                        echo get_field("heading_copy");
  section.white-bg-section.feature-icon-menu#feature-menu
    .container
        .row
            .col-md-10.col-md-offset-1
                for feature, idx in pageData.features
                    a(href="#section-"+feature.title.toLowerCase().replace(" ","-"))
                        i(class="fa " + feature.icon)
                        h2!=feature.title
  #features-sections 
    section#section-content-personalization.feature-bucket.white-bg-section
        #section-content-personalization-anchor.anchor-target
            .container
                .row.top
                    .col-md-12
                        h2 
                            :php
                                echo get_field ("content_personalization_header");
                        h3 
                            :php
                                echo get_field ("content_personalization_subheader");
                        p  
                            :php
                                echo get_field ("content_personalization_copy");
                .row
                    .col-md-12.content-image
                        .bg#content-lower-image(data-bg="features-mainpic-personalization.png")
    section#section-broadcasting.feature-bucket
        #section-broadcasting-anchor.anchor-target
            .container
                .bg(data-bg="features-mainpic-broadcasting.jpg")
                .inner
                    h2 
                        :php
                            echo get_field("broadcasting_header");
                    h3 
                        :php
                            echo get_field("broadcasting_subheader");
                    p
                        :php
                            echo get_field("broadcasting_copy");
                    ul.hmenu 
                        li
                            a.button(href='https://support.dynamicsignal.com') Learn More
    section#section-social-sharing.white-bg-section.feature-bucket
        #section-social-sharing.anchor-target
            .container
                .row
                    .col-md-12.centered
                        h2  
                            :php
                                echo get_field("social_sharing_header");
                        h3 
                            :php
                                echo get_field("social_sharing_subheader");
                        p  
                            :php
                                echo get_field("social_sharing_copy");
                        ul.hmenu
                            li
                                a.button(href='https://support.dynamicsignal.com') Learn More
                    .col-md-12.content-image
                        .bg(data-bg="features-mainpic-socialsharing.jpg")
    section#section-reporting.feature-bucket.gray-bg-section
        #section-reporting-anchor.anchor-target
            .container
                .row
                    .col-md-12.centered
                        h2 
                            :php
                                echo get_field("reporting_header");
                        h3 
                            :php
                                echo get_field("reporting_subheader");
                        p 
                            :php
                                echo get_field("reporting_copy");
                        ul.hmenu
                            li
                                a.button(href='https://support.dynamicsignal.com') Learn More
                    .col-md-12.content-image.tall
                        .bg(data-bg="features-mainpic-reporting.jpg")
    section#section-video.feature-bucket.white-bg-section
        #section-video-anchor.anchor-target
            .container
                .row
                    .col-md-6.content-image.tall
                        .bg(data-bg="features-mainpic-video-blank.png")
                    .col-md-6.text-right
                        h2 
                            :php
                                echo get_field("video_header");
                        h3 
                            :php
                                echo get_field("video_subheader");
                        p 
                            :php
                                echo get_field("video_copy");
                        ul.hmenu
                            li
                                a.button(href='https://support.dynamicsignal.com') Learn More
    section#section-newsletters.feature-bucket.gray-bg-section
        #section-newsletters-anchor.anchor-target
            .container
                .bg(data-bg="features-mainpic-newsletters.jpg")
                .inner
                    h2 
                        :php
                            echo get_field("newsletters_header");
                    h3 
                        :php
                            echo get_field("newsletters_subheader");
                    p 
                        :php
                            echo get_field("newsletters_copy");
                    ul.hmenu
                        li
                            a.button(href='https://support.dynamicsignal.com') Learn More        
    section#section-surveys.feature-bucket.white-bg-section
        #section-surveys-anchor
            .container
                .row
                    .col-md-12.top
                        h2 
                            :php
                                echo get_field("surveys_header");
                        h3 
                            :php
                                echo get_field("surveys_subheader");
                        p 
                            :php
                                echo get_field("surveys_copy");
                        ul.hmenu
                            li
                                a.button(href='https://support.dynamicsignal.com') Learn More
                    .col-md-12.content-image.tall
                        .bg(data-bg="features-mainpic-surveys.jpg")
    section#section-smartcontent.feature-bucket.gray-bg-section
        #section-smartcontent-anchor.anchor-target
            .container
                .row
                    .col-md-12.centered 
                        h2
                            :php
                                echo get_field("smartcontent_header");
                        h3 
                            :php
                                echo get_field("smartcontent_subheader");
                        p 
                            :php
                                echo get_field("smartcontent_copy");
                        ul.hmenu
                            li
                                a.button(href='https://support.dynamicsignal.com') Learn More
                    .col-md-12.content-image.tall
                        .bg(data-bg="features-mainpic-smartcontent.jpg")
    section#section-permissions.feature-bucket.blue-bg-section
        #section-permissions-anchor.anchor-target
            .container
                .row
                    .col-md-12
                        h2
                            :php
                                echo get_field("permissions_header");
                        h3  
                            :php
                                echo get_field("permissions_subheader");
                        p 
                            :php
                                echo get_field("permissions_copy");
                    .col-md-12.content-image.tall
                        .bg(data-bg="features-mainpic-permission.jpg")   
    section#section-integrations.feature-bucket.white-bg-section
        #section-integrations-anchor.anchor-target
            .container
                .flex-row
                    .flex-half
                        .bg(data-bg="features-mainpic-messaging.jpg")
                    .flex-half.text-right
                        h2 
                            :php
                                echo get_field("integrations_header");
                        h3  
                            :php
                                echo get_field("integrations_subheader"); 
                        p  
                            :php
                                echo get_field("integrations_copy"); 
                        p!="&nbsp;"  
                        p!="&nbsp;"  
                        p!="&nbsp;"  
                        p!="&nbsp;"  
                        p!="&nbsp;"  
                        p!="&nbsp;"  
  section.bottom-cta
    .container
        .row
            .col-md-12
                p Learn why more than 30 percent of the Fortune 100 use Dynamic Signal
                a.button.cta.knockout(href="/requestdemo") Request Demo
