extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page New Fall 2018 Look
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  - 
    var pageData = {
      "solutions": [
        {
        "title":"Workforce<br>Communication",
        "target":"#",
        "icon":"icon-wc.png",
        "description":"Communicate and engage with your employee wherever they are"
        },{
        "title":"Mobile<br>Intranet",
        "target":"#",
        "icon":"icon-mi.png",
        "description":"Make your intranet more accessible and engaging"
        },{
        "title":"Employee<br>Advocacy",
        "target":"#",
        "icon":"icon-ea.png",
        "description":"Transform your employees into powerful brand ambassadors"
        }
      ]
      };
  :php
    echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos_strip_gray_icons' ),JSON_UNESCAPED_SLASHES)
    ."};</script>";
  section.hero-homepage
    .container
      .row
        .col-md-6.hero-copy
          h1 Connect with 
            br
            span.blue Your Employees
          :php
            echo "<a class='button cta' href='".get_field('home_page_top_cta_target')."'>".get_field('home_page_top_cta_label')."</a>";
        .col-md-6.hero-img
          #mobile-screenshots
            .slide
              img.homepage-screenshot(src=themeDir+"images/homepage-phones.png")
            .slide
              img.homepage-screenshot(src=themeDir+"images/homepage-phones.png")
  section.homepage-solutions
    .container
      .row
        .col-md-12
          for solution in pageData.solutions
            a.homepage-solution-bucket(href!=solution.target)
              h2
                span.icon-solutions(data-bg=solution.icon)
                span.header!=solution.title
              p!=solution.description
  section.logo-strip-bucket
    .container
      .row
        .col-md-12
          h2 More than 20% of the Fortune 100 trusts the Dynamic Signal Employee Communication and Engagement Platform
          #logo-strip.logo-strip
