extends inc/page.pug
block template
  :php
    /*
    Template Name: Partners Page
    */
block nav
  include ./inc/navbar-toggle.pug
  include ./inc/side-nav.pug
  include ./inc/header.pug
block content
  :php
    $override_title = "Partners";
    $breadcrumbs = [];
    array_push($breadcrumbs,array(
      "title"=>"Company",
      "link"=>"/company/"
    ));
  section.top-section-interior
    .container
      .row
        .col-md-12
          include ./inc/breadcrumbs.pug
          h1 Grow Your agency
  :php
    if( have_posts() ) {
    while( have_posts() ) {
      the_post();
      echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
      .", 'testimonials':".json_encode(get_field('agency_testimonials'),JSON_UNESCAPED_SLASHES)."};</script>";
  -
    var pageData = {
    "header":"Grow Your Agency",
    "subheader":"Improving Employee Communications Increases Client Value and Drives Revenue",
    "copyTop":"Today’s agencies are challenged with helping clients adapt to the convergence of paid, owned and earned media. That’s especially true within the digital and social media landscape. Many are adapting to this new environment, with progressive firms doing so by leveraging mobile-first solutions like Dynamic Signal to improve employee communications and drive advocacy for their clients.",
    "videoInfo": {
      "id":"306845259",
      "type":"vimeo",
      "quote":"We look at Dynamic Signal as an industry leader. You have a great team and we really love to partner with you.",
      "cta":"Play Video",
      "image":"partners-testimonial-thumb.jpg",
      "cite":"Aaron Strout, CMO @ W2O"
    }
    };
  section.partners-top.container
    h2 Improving Employee Communication Increases Client Value and Drives Revenue
    p.partners-header!=pageData.copyTop
    .customer-video-thumb(data-video-panel-id="C0qQ_enRs_w",video-type=pageData.videoInfo.type,data-bg=pageData.videoInfo.image,data-panel-event="vidClick-Partners")
      .wrapper-panel-html
        .right-gradient
        .content.right.shrunk
          p!=pageData.videoInfo.quote
          cite!=pageData.videoInfo.cite
          a.button(href="#")
            span.cta!=pageData.videoInfo.cta
            i.fa.fa-play
  section.logo-strip-bucket
    .container
      .row
        .col-md-12
          #logo-partners-grid
  section.container
    #featured-job.careers
      article.featured-job
        .row
          .col-xs-12
              h1 
                span.fa.fa-hand-o-right
                | Looking for our Integration Partners? 
                a.button.knockout(href="/integrations/") Click Here
  section.partners-testimonials.container
    #partners-testimonials
  section.uber-embed.container
    .row.col-center
      :php
        if ( have_rows( 'uber_embed' ) ) :
          $count = 0;
            while ( have_rows( 'uber_embed' ) ) : the_row();
              $tile = get_sub_field('embed');
              $first = ( $count === 0 ) ? 'first' : '';
              printf( '<div class="col-md-4 %s">%s</div>', $first, $tile );
              $count++;
            endwhile;
        endif;
  section.bottom-cta
    p Learn why more than 30 percent of the Fortune 100 communicates with Dynamic Signal
    a.button.cta(href="/requestdemo/") Request Demo
  :php
    }}
