extends inc/page.pug
block template
	:php
		/*
		Template Name: Partners Page
		*/
block content
	:php
		if( have_posts() ) {
		while( have_posts() ) {
			the_post();
			echo "<script>var pageData = {'logos':".json_encode(get_field( 'logos' ),JSON_UNESCAPED_SLASHES)
			.", 'testimonials':".json_encode(get_field('agency_testimonials'),JSON_UNESCAPED_SLASHES)."};</script>";
	-
		var pageData = {
		"header":"Grow Your Agency",
		"subheader":"Improving Employee Communications Increases Client Value and Drives Revenue",
		"copyTop":"Today’s agencies are challenged with helping clients adapt to the convergence of paid, owned and earned media. That’s especially true within the digital and social media landscape. Many are adapting to this new environment, with progressive firms doing so by leveraging mobile-first solutions like Dynamic Signal to improve employee communications and drive advocacy for their clients.",
		"videoInfo": {
			"id":"182917369",
			"type":"vimeo",
			"quote":"Employees become more informed than ever and empowered by information. Dynamic Signal helps us measure the impact of both communications and integrated marketing programs.",
			"cta":"Play Video",
			"image":"partners-testimonial-thumb.jpg",
			"cite":"David Armano - Global Strategy Director @ Edelman"
		}
		};
	include ./inc/hero.pug
	section.marquee-bucket
		#partners-logo-marquee.marquee
	section.partners-top.container
		p.partners-header!=pageData.copyTop
		.video-thumb(data-video-id=pageData.videoInfo.id,video-type=pageData.videoInfo.type,data-bg=pageData.videoInfo.image)
			.left-gradient
			.content.left.shrunk
				p!=pageData.videoInfo.quote
				cite!=pageData.videoInfo.cite
				a.video-play(href="#")
					span.cta!=pageData.videoInfo.cta
					i.fa.fa-play
	section.partners-testimonials.container
		#partners-testimonials
	section.uber-embed.container
		.row.col-center
			:php
				if ( have_rows( 'uber_embed' ) ) :
					$count = 0;
						while ( have_rows( 'uber_embed' ) ) : the_row();
							$tile = get_sub_field('embed');
							$first = ( $count === 0 ) ? 'first' : '';
							printf( '<div class="col-md-4 %s">%s</div>', $first, $tile );
							$count++;
						endwhile;
				endif;
	section.partners-ebook.container
		.row
			.col-md-12.agency-ebook
				:php
					the_field( 'ebook' );
	:php
				}}
