extends inc/page.pug
block template
  :php
    /*
    Template Name: Switch Page
    */
block content
  -
    var pageData = {
    "header":"Switch To Dynamic Signal",
    "subheader":"Built to scale to every global employee, with the powerful features global organizations demand.",
    "videoInfo": {
      "id":"179405773",
      "type":"vimeo",
      "header":"Hundreds of the world’s largest organizations, in countries around the globe, trust Dynamic Signal to increase productivity and deepen engagement with their workforce.",
      "cta":"Play Now",
      "image":"thumb-switch-video.png"
    },
    };
  include ./inc/hero.pug
  section.switch-video.container
    .row
      .col-md-12
        .video-thumb(data-video-id=pageData.videoInfo.id,video-type=pageData.videoInfo.type,data-bg=pageData.videoInfo.image)
          .full-gradient
          .content.left
            h2!=pageData.videoInfo.header
            p.no-quote!=pageData.videoInfo.quote
            a.video-play(href="#")
              span.cta!=pageData.videoInfo.cta
              i.fa.fa-play
