- var bg = locals.thumb ? locals.thumb.sizes.large : "";
.row.event-listing
  .col-md-12
    a.event-thumb(data-bg=bg,href=locals.url)
      span.month!=locals.start_month
      span.date!=locals.start_day
      if locals.start_time
        span.time!=locals.start_time + " ("+locals.event_time_zone+")"
    .event-info
      h2
        a(href=locals.url)!=locals.title
      p!=locals.excerpt
        a(href=locals.url)  read more
      a.button(href=locals.btn_url)!=btn_text
