.home-testimonial-slide
    .inner
        .video-thumb(data-video-carousel-id=locals.vimeo_id,video-type="vimeo",data-bg=locals.video_thumbnail.url,data-panel-event="vidClick-Customers")
            .wrapper-panel-html
                .ds-quote
                    p.white!=locals.quote
                    cite
                        span.name!=citation_name
                        span.title!=locals.citation_title
                    a.button.white(href="#")
                        span.cta Play Video
                        i.fa.fa-play
