a.pager-thumb(class=locals.classname,href=locals.url)
  .label-wrapper
    h4!=locals.label
  .title-wrapper
    h4.thumb-headline!=locals.post_title.replace("Benefit : ","")
  .arrow-wrapper
    div(class=locals.classname+"-arrow")
