a.pager-thumb(class=locals.classname,href=locals.url)
  .thumb-wrapper
    h4.thumb-label=locals.label
    .thumb(data-bg=locals.thumb)
  .title-wrapper
    h4.thumb-headline!=locals.post_title
  .arrow-wrapper
    div(class=locals.classname+"-arrow")
