.row.partners-testimonial-entry
  .col-md-12
    img.testimonial-thumb(src=locals.photo.url,alt=locals.photo.alt)
    .testimonial-body=locals.testimonial
    cite.testimonial-speaker
      span.name=locals.name + " - "
      span.title=locals.title
