.container.product-display
  .row.mobile-products
    if locals.mobileProducts
      .product-images.col-md-6.no-padding
        #bg-mobile-product
        for product,key in locals.mobileProducts
          if key==0
            .product-image.mobile-image.active(id="mobile-product-"+key)
              img(src=product.image)
          else
            .product-image.mobile-image(id="mobile-product-"+key)
              img(src=product.image)
      .product-tiles.col-md-6
        h2.product-header Mobile-First
        for product,key in locals.mobileProducts
          if key==0
            a.mobile-product-tile.active(href="#",data-target="mobile-product-"+key)
              h3!=product.header
              p!=product.copy
          else
            a.mobile-product-tile(href="#",data-target="mobile-product-"+key)
              h3!=product.header
              p!=product.copy
  .row.desktop-products
    if locals.desktopProducts
      .product-tiles.col-md-6
        h2 Powerful Dashboard
        for product,key in locals.desktopProducts
          a.desktop-product-tile(href="#",data-target="desktop-product-"+key)
            h3!=product.header
            p!=product.copy
      .product-images.col-md-6.no-padding
        #bg-desktop-product
        for product,key in locals.desktopProducts
          if key==0
            .product-image.desktop-image.active(id="desktop-product-"+key)
              img(src=product.image)
          else
            .product-image.desktop-image(id="desktop-product-"+key)
              img(src=product.image)
