.container
  .row
    if locals.mobileProducts
      .product-images.col-md-6
        for product,key in locals.mobileProducts
          if key==0
            .product-image.mobile-image.active(data-bg=product.image,id="mobile-product-"+key)
          else
            .product-image.mobile-image(data-bg=product.image,id="mobile-product-"+key)
      .product-tiles.col-md-6
        for product,key in locals.mobileProducts
          a.mobile-product-tile(href="#",data-target="mobile-product-"+key)
            h3!=product.header
            p!=product.copy
  .row
    if locals.desktopProducts
      .product-tiles.col-md-6
        for product,key in locals.desktopProducts
          a.desktop-product-tile(href="#",data-target="desktop-product-"+key)
            h3!=product.header
            p!=product.copy
      .product-images.col-md-6
        for product,key in locals.desktopProducts
          if key==0
            .product-image.desktop-image.active(data-bg=product.image,id="desktop-product-"+key)
          else
            .product-image.desktop-image(data-bg=product.image,id="desktop-product-"+key)
