.summit-cta
    a#summit-cta-closer(href="#")!="&times;"
    #summit-cta-popup
        a.show-desktop(href="https://resources.dynamicsignal.com/summit-by-dynamic-signal-2018", target="_blank")
            img(src="/wp-content/themes/ds-new/images/bg-summit-popup-recap.jpg")
    .container#summit-cta-short 
        .row
            .col-md-12
                p.show-desktop#summit-text!=locals.cta
                    a.button#summit-cta-opener(href="#")!=locals.buttonText
                p.show-mobile#summit-text!=locals.cta
                    br
                    a.button(href="https://resources.dynamicsignal.com/summit-by-dynamic-signal-2018")!=locals.buttonText
    