.inner
    .wrapper-video
        .player
    .buttons
        for item, key in locals
            if item.title!=""
                a.btn-launch(href= window.location.protocol + "//" + window.location.host + window.location.pathname + '?videoidx=' + item.id,data-launch-id=item.id,data-video-idx=item.id)
                    span.thumb(data-bg=item.thumb)
                        .inner
                            span.fa.fa-play-circle
                    span.words
                        p.title!=item.title
                            span.fa.fa-play
                        p.description!=item.description
