footer
	.container
		.row.footer-top
			.col-md-3.address-block
				ul(itemscope itemtype="http://schema.org/LocalBusiness")
					li.logo-footer-bucket
						img.logo-footer(src='https://dynamicsignal.com/wp-content/themes/ds-new/images/logo-header.png',alt='Dynamic Signal',itemprop="logo")
					li.footer-address
						p(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") 1111 Bayhill Drive, Suite 125
							br
							span(itemprop="addressLocality") San Bruno, 
							span(itemprop="addressRegion") California 
							span(itempropr="postalCode") 94066
					li.footer-phone
						p(itemprop="telephone") 650-231-2550
				ul.hmenu
					li
						a(href='https://www.facebook.com/DynamicSignal/')
							span.fa-1x.fa-stack
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-stack-1x.fa-inverse.fa-facebook
					li
						a(href='https://twitter.com/dynamic_signal')
							span.fa-1x.fa-stack
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-stack-1x.fa-inverse.fa-twitter
					li
						a(href='https://www.linkedin.com/company/1604432')
							span.fa-1x.fa-stack
								i.fa.fa-circle.fa-stack-2x
								i.fa.fa-stack-1x.fa-inverse.fa-linkedin
			.col-md-2
				h5 
					a(href=locals.siteurl + "/product/") Product
				ul
					li
						a(href=locals.siteurl + '/benefits/') Benefits
					li
						a(href=locals.siteurl + '/case-studies/') Case Studies
					li
						a(href=locals.siteurl + '/integrations/') Integrations
			.col-md-2
				h5 
					a(href=locals.siteurl + "/company/") Company
				ul
					li
						a(href=locals.siteurl + '/customers/') Customers
					li
						a(href=locals.siteurl + '/team/') Team
					li
						a(href=locals.siteurl + '/agency/') Partners
					li
						a(href=locals.siteurl + '/careers/') Careers
					li
						a(href=locals.siteurl + '/events/') Events
					li
						a(href=locals.siteurl + '/blog/') Blog
					li
						a(href='https://resources.dynamicsignal.com/press') Press
					li
						a(href='https://resources.dynamicsignal.com/news') News
			.col-md-3
				h5 
					a(href=locals.siteurl + "/resources/") Resources
				ul
					li
						a(href='https://resources.dynamicsignal.com/getting-started') Getting Started
					li
						a(href='https://resources.dynamicsignal.com/driving-adoption') Driving Adoption
					li
						a(href='https://resources.dynamicsignal.com/expanding-reach') Expanding Reach
					li
						a(href='https://resources.dynamicsignal.com/metrics') Metrics
					li
						a(href='https://resources.dynamicsignal.com/videos') Videos
					li
						a(href='https://resources.dynamicsignal.com/ebooks-guides') eBooks & Guides
			.col-md-2
				ul.no-header
					li
						a.demo-link(href=locals.siteurl + '/requestdemo/') Request Demo
					li
						a(href=locals.siteurl + '/contact-us/') Contact Us
					li
						a(href=locals.siteurl + '/support/') Support
		.row.footer-bottom
			.col-sm-6
				p © 2018. Dynamic Signal Inc. All rights reserved.
			.col-sm-6
				p.right
					a(href=locals.siteurl + '/terms-of-use/') Terms of Use
					| |
					a(href=locals.siteurl + '/terms-of-use/') Privacy Policy
