- 
  var siteroot = "https://www.dynamicsignal.com"
header.page-header#page-header
  #cta-bar
  .row.inner
    .col-md-4.col-xs-9.logo-bucket
      a.logo(href=siteroot)
        img(src='https://dynamicsignal.com/wp-content/themes/ds-new/images/logo-header.png',alt='Dynamic Signal')
    .col-md-8.col-xs-3.right.nav-bucket
      nav.small-nav.interior
        ul.hmenu
          li
            a(href=siteroot+"/product/") What Is Dynamic Signal
          li
            a(href=siteroot+"/company/") Our Company
          li
            a(href=siteroot+"/resources/") Resources
          li
            a.requestdemo(href=siteroot+"/requestdemo/") Request a Demo
          li.show-mobile
            a#btn-search-header(href="#")
              span.fa.fa-search
            #search-box-header
              a#btn-close-search(href="#")!="&times;"
              form.search-form(action='')
                input.query#oi-query(type='text', placeholder="Enter Search Term")
                button.submit(type="submit")
                  i.fa.fa-search
                span#oi-spellcheck
                span#oi-header
          li.show-mobile
            .navbar-toggle#toggle-side-nav
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar