-
  var graphData = {
    scale: 40,
    step: 10,
    sections: [
      {
        name: "Growth",
        bars: [
          {
            label: "11% Employee Retention",
            value: "11",
            classname: "dark-blue"
          },
          {
            label: "16% Productivity",
            value: "16",
            classname: "dark-blue"
          },
          {
            label: "30% Faster Response to Opportunities",
            value: "30",
            classname: "dark-blue"
          },
          {
            label: "32% Employee Feedback",
            value: "32",
            classname: "dark-blue"
          } 
        ]
      },
      {
        name: "Reduce Risk & Cost",
        bars: [
          {
            label: "18% Faster Response to Competitive Threats",
            value: "18",
            classname: "med-blue"
          },
          {
            label: "20% Faster Adoption of Company Initiatives",
            value: "20",
            classname: "med-blue"
          },
          {
            label: "27% Faster Crisis Response",
            value: "27",
            classname: "med-blue"
          },
          {
            label: "35% Employees Reached",
            value: "35",
            classname: "med-blue"
          },
          {
            label: "16% Technology Savings",
            value: "16",
            classname: "med-blue"
          }
        ]
      },
      {
        name: "Brand Equity",
        bars: [
          {
            label: "18% Improvement in CEO Approval",
            value: "18",
            classname: "coral-blue"
          },
          {
            label: "39% Brand Awareness",
            value: "39",
            classname: "coral-blue"
          }
        ]
      }
    ]
  };
.platform-graph.inactive#platform-graph
  .bars
    ul.lines
      - 
        var s = graphData.scale;
        var totalbars = 0;
        for (i=0;i<graphData.sections.length;i++) {
          for (z=0;z<graphData.sections[i].bars.length;z++) {
            totalbars++;
          }
        }
        var flexb = Math.round(graphData.scale/totalbars * 100) / 100 + "%";
      while s > 0
        li.line
        - s = s - graphData.step;
    each section, sidx in graphData.sections
      each bar,idx in section.bars
        - var active = idx == 0 && sidx == 0 ? " active" : "";
        div(style = { height : ( bar.value / graphData.scale  * 100 ) + "%", "flex-basis":flexb}, data-idx=idx, class="bar " + bar.classname )
          div(class="inner" + active)
            .bar-label.tooltip
              p=bar.label
            .bar-value
              p=bar.value + "%"
  .key
    each section in graphData.sections
      - var flexb = Math.round(100 * section.bars.length/totalbars) + "%";
      .range-label(style={"flex-basis":flexb})
        .inner
          p=section.name
//-
    .platform-graph.mobile
    .bars
        - 
            var s = graphData.scale;
            var totalbars = 0;
            for (i=0;i<graphData.sections.length;i++) {
                for (z=0;z<graphData.sections[i].bars.length;z++) {
                totalbars++;
                }
            }
            var flexb = Math.round(graphData.scale/totalbars * 100) / 100 + "%";
        each section in graphData.sections
        each bar,idx in section.bars
            div(class="bar " + bar.classname )
            .inner
                p
                    span.category=section.name
                    span=bar.label
            .inner-graph(style = { width : ( ( bar.value / graphData.scale)  * 100 ) + "%", "flex-basis":flexb}, 